@charset "UTF-8";
@font-face {
  font-family: AvenirNext;
  src: url(../fonts/AvenirNext.woff); }
@font-face {
  font-family: Dobrozrachniy;
  src: url(../fonts/Dobrozrachniy.woff); }
header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between; }
  header .logo {
    z-index: 100;
    color: black; }
    header .logo svg {
      margin-left: 2.6315789474vw;
      margin-top: 1.3157894737vw;
      width: 11.1842105263vw;
      height: 2.0394736842vw; }
      header .logo svg .eb_logo {
        fill: #fff;
        transition: all .5s; }
  header nav {
    display: inline-block;
    margin-top: 1.3157894737vw;
    z-index: 10000; }
    header nav ul li {
      color: #fff;
      font-weight: 500;
      display: inline-block;
      margin-right: 2.3026315789vw;
      cursor: pointer; }
      header nav ul li:after {
        display: block;
        width: 0;
        content: "";
        height: 0.0986842105vw !important;
        background: #ac2e35;
        transition: .3s; }
      header nav ul li:hover:after {
        animation: borbot .3s ease;
        width: 100%; }
    header nav ul:last-child {
      margin-right: 0.3289473684vw; }

@keyframes borbot {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
* {
  margin: 0;
  padding: 0;
  font-family: AvenirNext;
  font-size: 1.0526315789vw;
  overflow: hidden; }

a {
  color: #fff !important;
  text-decoration: none !important; }

body {
  width: 100%;
  height: 100vh;
  background: url(../img/background.jpg);
  background-size: 100% 100% !important;
  background-repeat: no-repeat no-repeat !important; }

.cont {
  overflow: inherit !important;
  position: relative;
  color: #fff;
  display: inline-block;
  margin-left: 2.6315789474vw;
  margin-top: 14.1447368421vw; }
  .cont .info {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 100; }
  .cont h1 {
    font-family: Dobrozrachniy;
    font-weight: 100;
    color: #ac2e35;
    font-size: 2.1052631579vw; }
  .cont p {
    margin-top: 1.3157894737vw; }
  .cont .h2-stat:before {
    display: block;
    content: "";
    width: 100%;
    height: 0.2302631579vw;
    background: #ac2e35;
    opacity: 1; }
  .cont .contact {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0; }
    .cont .contact .parking {
      margin-top: 1.9736842105vw; }
    .cont .contact p {
      line-height: 1.3157894737vw; }

h2 {
  display: inline-block;
  font-weight: 500;
  margin-top: 1.9736842105vw;
  cursor: pointer;
  opacity: 0; }
  h2:before {
    display: block;
    content: "";
    width: 0;
    height: 0.2302631579vw;
    background: #ac2e35;
    opacity: 1;
    animation: width 1s ease;
    animation-delay: 2.5s; }
  h2:hover:before {
    opacity: .5; }

.shadow {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  left: 0;
  top: 0; }

.wrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0;
  top: 20px; }

.wrap_cont {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: visible; }

.owl-carousel {
  position: absolute !important;
  top: 10.5263157895vw;
  left: 67.7631578947vw;
  z-index: 100 !important; }
  .owl-carousel div img {
    width: 30vw !important;
    height: 30vw !important; }
  .owl-carousel .owl-prev {
    border: 0;
    outline: none;
    position: absolute;
    background-image: url("../img/slider/strelka.svg") !important;
    background-size: cover !important;
    transform: rotate(180deg);
    width: 1.9736842105vw;
    height: 1.9736842105vw;
    top: 13.1578947368vw;
    left: 0.9868421053vw;
    transition: .1s; }
    .owl-carousel .owl-prev:hover {
      transform: rotate(180deg) scale(1.1); }
  .owl-carousel .owl-next {
    border: 0;
    outline: none;
    position: absolute;
    background-image: url("../img/slider/strelka.svg") !important;
    background-size: cover !important;
    width: 1.9736842105vw;
    height: 1.9736842105vw;
    top: 13.1578947368vw;
    right: 0.9868421053vw; }
    .owl-carousel .owl-next:hover {
      transform: scale(1.1); }

.logo2 {
  height: 34.2105263158vw;
  position: absolute;
  left: 74.3421052632vw;
  top: 8.5526315789vw;
  z-index: 1;
  transition: 1s; }

.button {
  z-index: 1000;
  color: #fff;
  width: 10.1973684211vw;
  position: absolute;
  right: 22.0394736842vw;
  top: 43.4210526316vw;
  overflow: visible;
  cursor: pointer; }
  .button:after {
    display: block;
    width: 0;
    content: "";
    height: 0.0986842105vw !important;
    background: #ac2e35;
    transition: .3s; }
  .button:hover:after {
    animation: borbot .3s ease;
    width: 100%; }
  .button i {
    font-size: 1.6447368421vw;
    position: relative;
    left: 0.5263157895vw;
    top: 0.4605263158vw;
    opacity: 0; }

footer {
  overflow: visible;
  width: 95%;
  position: absolute;
  color: #fff;
  bottom: 1.3157894737vw;
  padding-left: 2.6315789474vw;
  padding-right: 2.6315789474vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 10000; }
  footer .fa {
    transition: all .5s;
    cursor: pointer; }
  footer .fa:hover {
    opacity: .5; }
  footer .fa-facebook {
    font-size: 1.6447368421vw;
    margin-left: 58.5526315789vw; }
  footer .fa-instagram {
    font-size: 1.6447368421vw; }
  footer .fa-angle-right {
    font-size: 1.6447368421vw;
    margin-left: 1.6447368421vw; }
  footer span {
    cursor: pointer; }
    footer span:after {
      display: block;
      width: 0;
      content: "";
      height: 0.0986842105vw !important;
      background: #ac2e35;
      transition: .3s; }
    footer span:hover:after {
      animation: borbot .3s ease;
      width: 100%; }

@media screen and (min-width: 1023px) {
  .opacity0 {
    animation: opa0 2s ease;
    opacity: 0; }

  .opacity1 {
    animation: opa1 1s ease;
    opacity: 1 !important; }

  .opacity2 {
    animation: opa2 2s ease;
    opacity: 0.6 !important; }

  .display0 {
    display: none; }

  .dvizh {
    animation: dvizh 2s ease-in-out;
    opacity: 1;
    top: 0; }

  .dvizh1 {
    animation: dvizh1 2s ease;
    left: -67.6973684211vw;
    overflow: visible; }

  .dvizh2 {
    animation: dvizh2 .5s ease;
    left: 0; }

  .dvizh3 {
    animation: dvizh3 1s ease;
    opacity: 0; }

  .dvizh4 {
    animation: dvizh4 1s ease;
    opacity: 1; }

  @keyframes opa0 {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  @keyframes opa1 {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @keyframes opa2 {
    0% {
      opacity: 0; }
    100% {
      opacity: .6; } }
  @keyframes dvizh {
    0% {
      opacity: 0;
      top: 1.9736842105vw; }
    100% {
      opacity: 1;
      top: 0; } }
  @keyframes dvizh3 {
    0% {
      opacity: 1;
      margin-top: 0; }
    100% {
      margin-top: 1.9736842105vw;
      opacity: 0; } }
  @keyframes dvizh4 {
    0% {
      opacity: 0;
      margin-top: 1.9736842105vw; }
    100% {
      margin-top: 0vw;
      opacity: 1; } }
  @keyframes width {
    0% {
      width: 0; }
    100% {
      width: 100%; } }
  @keyframes dvizh1 {
    0% {
      left: 0; }
    100% {
      left: -67.6973684211vw; } }
  @keyframes dvizh2 {
    0% {
      left: -67.6973684211vw; }
    100% {
      left: 0; } } }
.reservation {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 39.4736842105vw; }
  .reservation form {
    margin-top: 3.9473684211vw; }
  .reservation h3 {
    font-weight: 100;
    font-size: 0.9210526316vw;
    padding-left: 0.0657894737vw; }
  .reservation input {
    border: 0;
    outline: none;
    background: none;
    color: #fff;
    padding-left: 0.3289473684vw;
    padding-right: 0.3289473684vw;
    border-bottom: 0.1315789474vw solid #ac2e35;
    font-size: 0.9210526316vw;
    margin-bottom: 1.3157894737vw; }
  .reservation .numb {
    -moz-appearance: textfield; }
  .reservation .numb::-webkit-inner-spin-button {
    display: none; }
  .reservation .tel {
    position: absolute;
    top: 7.6973684211vw;
    left: 13.1578947368vw; }
  .reservation .telh {
    position: absolute;
    left: 13.1578947368vw;
    top: 6.5131578947vw; }
  .reservation .date {
    position: absolute;
    left: 13.1578947368vw;
    top: 11.5131578947vw; }
  .reservation .dateh {
    position: absolute;
    left: 13.1578947368vw;
    top: 10.1973684211vw; }
  .reservation .mail {
    width: 23.2894736842vw; }
  .reservation .comment {
    width: 23.2894736842vw; }
  .reservation .sub {
    overflow: inherit !important;
    margin-left: 16.1184210526vw;
    border: 0.1315789474vw solid #ac2e35;
    border-radius: 1.4473684211vw;
    width: 7.8289473684vw;
    height: 2.8947368421vw;
    cursor: pointer; }
    .reservation .sub:hover {
      background: #ac2e35; }

@media screen and (max-width: 1023px) {
  * {
    font-size: 1.7857142857vh; }

  header {
    padding: 2.2321428571vh; }
    header .logo {
      z-index: 10000; }
      header .logo svg {
        width: 18.9732142857vh !important;
        height: 3.90625vh !important;
        margin: 0 !important; }

  nav {
    position: absolute;
    left: 34.5982142857vh;
    margin-top: 0 !important; }
    nav ul {
      margin-right: 0 !important; }
      nav ul .eng li {
        display: block !important;
        font-size: 2.2321428571vh !important;
        margin-right: 5.0223214286vh !important; }
      nav ul li:not(.eng) {
        display: none; }

  .button {
    display: none !important; }

  .info {
    line-height: 2.2321428571vh !important;
    width: 100% !important;
    height: 90vh !important; }
    .info h1 {
      height: 3.5%; }

  form {
    overflow: inherit !important; }
    form h3 {
      overflow: inherit !important; }

  .wrap_cont {
    width: auto !important;
    padding-left: 2.2321428571vh;
    padding-right: 2.2321428571vh;
    padding-top: 8.3705357143vh; }

  .cont {
    margin: 0 !important;
    margin-top: 20.0892857143vh !important; }
    .cont h1 {
      font-size: 3.5714285714vh; }
    .cont p {
      margin-top: 1.7857142857vh !important; }
    .cont h2 {
      margin-top: 3.5714285714vh !important; }
      .cont h2:before {
        height: 0.3348214286vh !important; }

  footer {
    box-sizing: border-box;
    width: 100% !important;
    padding: 2.2321428571vh;
    padding-bottom: 1.6741071429vh;
    bottom: 0 !important; }
    footer span {
      display: none; }
    footer .qwe {
      display: none; }
    footer .qwe1 {
      display: none; }
    footer a {
      margin: 0 !important; }
      footer a i {
        font-size: 2.0089285714vh !important;
        margin: 0 !important; }
      footer a .fa-angle-right {
        font-size: 2.9017857143vh !important;
        font-weight: 900 !important;
        margin-right: 27.9017857143vh !important; }
      footer a .fa-facebook {
        font-size: 2.4553571429vh !important; }
      footer a .fa-instagram {
        font-size: 2.9017857143vh !important; }

  .menu {
    position: absolute !important;
    right: 0;
    width: 0;
    height: 100vh !important;
    background: #fff;
    z-index: 101; }
    .menu a {
      color: black !important; }
    .menu ul {
      width: 100%;
      position: fixed;
      display: flex;
      flex-flow: column nowrap;
      height: 100vh;
      text-align: center;
      justify-content: center; }
      .menu ul li {
        list-style-type: none;
        font-size: 2.2321428571vh;
        line-height: 5.5803571429vh; }

  .menudvizh {
    animation: menudvizh .5s ease;
    width: 100%; }

  .menudvizh1 {
    animation: menudvizh1 .5s ease;
    width: 0; }

  .logo2 {
    width: 251.0044642857vh;
    height: 58.7053571429vh;
    left: 78.125vh;
    top: 14.5089285714vh; }

  .owl-carousel {
    position: absolute;
    left: 78.125vh;
    top: 30.1339285714vh; }
    .owl-carousel .owl-nav .owl-prev {
      width: 3.5714285714vh;
      height: 3.5714285714vh;
      left: 1.1160714286vh !important;
      top: 41.0628019324vw !important; }
    .owl-carousel .owl-nav .owl-next {
      width: 3.5714285714vh;
      height: 3.5714285714vh;
      right: 3.6231884058vw !important;
      top: 41.0628019324vw !important; }

  .owl-stage div img {
    width: 90.3381642512vw !important;
    height: 90.0845410628vw !important; }

  .reservation {
    overflow: visible;
    width: 100% !important;
    height: 90vh !important;
    margin-top: -2.2321428571vh !important; }

  form h3 {
    font-size: 1.7857142857vh !important; }
  form input {
    width: 86.9565217391vw !important;
    height: 3.2399553571vh !important;
    font-size: 1.7857142857vh !important;
    border-bottom: 0.3947368421vw solid #ac2e35 !important;
    position: absolute;
    font-size: 1.5625vh !important;
    padding-left: 1.1160714286vh !important; }
  form h3:nth-child(1) {
    margin-top: 0.5580357143vh !important; }
  form h3:nth-child(4) {
    margin-top: 8.9285714286vh; }
  form h3:nth-child(13) {
    left: 0 !important;
    margin-top: 9.4866071429vh; }
  form h3:nth-child(15) {
    left: 0 !important;
    margin-top: 20.6473214286vh; }
  form h3:nth-child(7) {
    margin-top: 7.8125vh; }
  form h3:nth-child(10) {
    margin-top: 1.8973214286vh; }
  form input[name=comment] {
    left: 0 !important;
    margin-top: 0.5580357143vh; }
  form input[name=email] {
    left: 0 !important; }
  form input[name=person] {
    left: 0 !important;
    margin-top: -0.5580357143vh; }
  form input[name=tel] {
    margin-top: 11.1607142857vh;
    left: 0 !important; }
  form input[name=date] {
    margin-top: 21.7633928571vh;
    left: 0 !important; }
  form input[type=submit] {
    margin: 0 !important;
    margin-top: 3.3482142857vh !important;
    left: 0 !important;
    border: 0.2232142857vh solid #ac2e35 !important;
    border-radius: 2.4553571429vh !important;
    width: 13.28125vh !important;
    height: 4.9107142857vh !important;
    padding-left: 0 !important;
    margin-left: 31.4009661836vw !important; }

  .contact {
    width: 100% !important;
    height: 90vh !important;
    position: absolute; }
    .contact p {
      line-height: 2.2321428571vh !important; } }
@media screen and (max-height: 668px) {
  .owl-carousel {
    top: 25.6696428571vh; }

  .logo2 {
    top: 21.2053571429vh; }

  form h3:nth-child(15) {
    left: 0 !important;
    margin-top: 20.0892857143vh; }
  form h3:nth-child(7) {
    margin-top: 8.3705357143vh; }
  form input[type=submit] {
    margin-left: 33.8164251208vw !important; }

  footer a .fa-angle-right {
    margin-right: 35.7142857143vh !important; } }
@media screen and (max-width: 281px) {
  .owl-carousel {
    top: 31.25vh; }

  form h3:nth-child(4) {
    margin-top: 8.3705357143vh; }
  form h3:nth-child(7) {
    margin-top: 7.2544642857vh; }
  form input[type=submit] {
    margin-left: 28.9855072464vw !important; }

  footer a .fa-angle-right {
    margin-right: 23.4375vh !important; } }
@media screen and (min-width: 540px) and (max-width: 819px) {
  .owl-carousel {
    top: 17.8571428571vh; }
    .owl-carousel .owl-nav .owl-next {
      right: 4.8309178744vw !important; }

  form input {
    width: 91.7874396135vw !important; }
  form h3:nth-child(4) {
    margin-top: 7.8125vh; }
  form h3:nth-child(13) {
    left: 0 !important;
    margin-top: 8.3705357143vh; }
  form h3:nth-child(15) {
    left: 0 !important;
    margin-top: 17.8571428571vh; }
  form input[name=tel] {
    margin-top: 10.0446428571vh;
    left: 0 !important; }
  form input[name=person] {
    left: 0 !important;
    margin-top: 0vh; }
  form input[name=date] {
    margin-top: 18.9732142857vh;
    left: 0 !important; }
  form input[name=comment] {
    left: 0 !important;
    margin-top: 0vh; }
  form input[type=submit] {
    margin-left: 37.4396135266vw !important; }

  footer a .fa-angle-right {
    margin-right: 56.9196428571vh !important; } }
@media screen and (min-width: 819px) and (max-width: 1023px) {
  .owl-carousel {
    top: 20.0892857143vh; }
    .owl-carousel .owl-nav .owl-next {
      right: 4.8309178744vw !important; }

  form h3:nth-child(4) {
    margin-top: 7.8125vh; }
  form h3:nth-child(7) {
    margin-top: 7.2544642857vh; }
  form h3:nth-child(13) {
    left: 0 !important;
    margin-top: 8.3705357143vh; }
  form h3:nth-child(15) {
    left: 0 !important;
    margin-top: 17.8571428571vh; }
  form h3:nth-child(10) {
    margin-top: 1.3392857143vh; }
  form input[name=tel] {
    margin-top: 10.0446428571vh;
    left: 0 !important; }
  form input[name=email] {
    left: 0 !important;
    margin-top: -0.5580357143vh; }
  form input[name=date] {
    margin-top: 18.9732142857vh;
    left: 0 !important; }
  form input[name=comment] {
    left: 0 !important;
    margin-top: 0vh; }
  form input[type=submit] {
    margin-left: 37.4396135266vw !important; }

  footer a .fa-angle-right {
    margin-right: 50.2232142857vh !important; } }
@media screen and (max-width: 1023px) {
  @keyframes menudvizh {
    0% {
      width: 0; }
    100% {
      width: 100%; } }
  @keyframes menudvizh1 {
    0% {
      width: 100%; }
    100% {
      width: 0; } }
  .opacity0 {
    animation: opa0 2s ease;
    opacity: 0; }

  .opacity00 {
    animation: opa00 2s ease;
    opacity: 0; }

  .opacity1 {
    animation: opa1 2s ease;
    opacity: 1; }

  @keyframes opa0 {
    0% {
      opacity: 1;
      top: 0; }
    100% {
      opacity: 0;
      top: 4.8309178744vw; } }
  @keyframes opa00 {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  @keyframes opa1 {
    0% {
      opacity: 0;
      top: -4.8309178744vw; }
    100% {
      opacity: 1;
      top: 0; } }
  .dvizh1 {
    animation: dvizh1 2s ease;
    left: 181.1594202899vw; }

  .dvizh2 {
    animation: dvizh2 2s ease;
    left: 16.9082125604vw; }

  .dvizh3 {
    animation: dvizh3 1s ease;
    left: 386.4734299517vw; }

  .dvizh4 {
    animation: dvizh4 .6s ease;
    animation-delay: .5s;
    left: 386.4734299517vw; }

  @keyframes dvizh1 {
    0% {
      left: 105.2631578947vw; }
    100% {
      left: 49.3421052632vw; } }
  @keyframes dvizh2 {
    0% {
      left: 105.2631578947vw; }
    100% {
      left: 4.6052631579vw; } }
  @keyframes dvizh3 {
    0% {
      left: 49.3421052632vw; }
    50% {
      left: 29.6052631579vw; }
    100% {
      left: 105.2631578947vw; } }
  @keyframes dvizh4 {
    0% {
      left: 4.6052631579vw; }
    100% {
      left: 105.2631578947vw; } }
  .opacity2 {
    animation: opa2 2s ease;
    opacity: 0.6 !important; }

  .display0 {
    display: none; }

  .dvizh {
    animation: dvizh 2s ease-in-out;
    opacity: 1;
    top: 0; }

  @keyframes opa2 {
    0% {
      opacity: 0; }
    100% {
      opacity: .6; } }
  @keyframes dvizh {
    0% {
      opacity: 0;
      top: 7.2463768116vw; }
    100% {
      opacity: 1;
      top: 0; } }
  @keyframes width {
    0% {
      width: 0; }
    100% {
      width: 100%; } } }
@media screen and (max-width: 1023px) {
  .c-hamburger {
    z-index: 10000;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s; }

  .c-hamburger:focus {
    outline: none; }

  .c-hamburger span {
    width: 30px;
    display: block;
    position: absolute;
    top: 22px;
    left: 9px;
    right: 18px;
    height: 4px;
    background: white; }

  .c-hamburger span::before,
  .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: ""; }

  .c-hamburger span::before {
    top: -10px; }

  .c-hamburger span::after {
    bottom: -10px; }

  .c-hamburger--htx {
    background-color: transparent; }

  .c-hamburger--htx span {
    transition: background 0s 0.3s;
    overflow: visible; }

  .c-hamburger--htx span::before,
  .c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s; }

  .c-hamburger--htx span::before {
    transition-property: top, transform; }

  .c-hamburger--htx span::after {
    transition-property: bottom, transform; }

  /* состояние active при открытом меню  */
  .c-hamburger--htx.is-active {
    background-color: transparent; }

  .c-hamburger--htx.is-active span {
    background: none; }

  .c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg); }

  .c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg); }

  .c-hamburger--htx.is-active span::before,
  .c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
    background: black; } }

/*# sourceMappingURL=style.css.map */
