$width: 1520px;
$height: 812px;

$widthmob: 414px;
$heightmob: 896px;

@function width($n){
	@return ($n / $width) * 100vw;
};

@function widthmob($n){
	@return ($n / $widthmob) * 100vw;
};

@function heihgthmob($n){
	@return ($n / $heightmob) * 100vh;
};